* {
    margin: 0;
}
body {

}
div {
    
}
#jumbotron {
    color: white;
    background-image: url(./assets/images/bowling_field.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bloc_text_jumbotron {
    border: solid white 3px;
    text-align: center;
    font-size: 25px;
    background-color: 
    rgba(0, 0, 12, 0.934); /* un arrière plan bleu à 50% de transparence */
}
#premiere_ligne_text_jumbotron {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
#seconde_ligne_text_jumbotron {
    font-weight: bold;
    padding: 10px;
}
ul {
    list-style-type: none;
  }