* {
    margin: 0;
}
@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}
#bloc_header {
    background-color: rgb(110, 165, 216);
    color: white;
    display: flex;
    justify-content: space-between;
}
.bouton_nav {
    display: flex;
    flex-direction: column;
}
span:hover {
    cursor: pointer;
}